<div class="post-list">
  <h1 class="post-list__title">Last posts</h1>

  <ul class="post-list__content">
    <li>
      <span>
        Jun 4th 2019
      </span>
      <h2 class="post-list__post-title">
        <a href="/post/pwa">
          Progressive Web Apps
        </a>
      </h2>
      <p>Progressive Web Apps are user experiences that have the reach of the web.</p>
    </li>
  </ul>
</div>
