<article class="post">
  <header class="post-header">
    <h1 class="post-header__title">Progressive Web Apps</h1>
    <p class="post-header__meta">
      <time>Jun 4th 2019</time>
    </p>
  </header>

  <div class="post-content" >
    <p>Progressive Web Apps are user experiences that have the reach of the web, and are:</p>

    <ul>
      <li><b>Reliable</b>: Load instantly and never show the downasaur, even in uncertain network conditions.</li>
      <li><b>Fast</b>: Respond quickly to user interactions with silky smooth animations and no janky scrulling.</li>
      <li><b>Engaging</b>: Feel like a natural app on the device, with an immersive user experience.</li>
    </ul>

    <h3>Reliable</h3>

    <figure>
      <img src="/images/pwa-reliable.png" />
    </figure>

    <p>
      When launched from the user’s home screen, service workers enable a Progressive Web App to load instantly,
      regardless of the network state.
    </p>

    <p>
      A service worker, written in JavaScript, is like a client-side proxy and puts you in control of the cache and how to respond
      to resource requests. By pre-caching key resources you can eliminate the dependence on the network,
      ensuring an instant and reliable experience for your users.
    </p>

    <h3>Fast</h3>

    <figure>
      <img src="/images/pwa-fast.png" />
    </figure>

    <p>
      53% of users will abandon a site if it takes longer than 3 seconds to load! And once loaded,
      users expect them to be fast—no janky scrolling or slow-to-respond interfaces.
    </p>

    <h3>Engaging</h3>

    <figure>
      <img src="/images/pwa-engaging.png" />
    </figure>

    <p>
      Progressive Web Apps are installable and live on the user's home screen, without the need for an app store.
      They offer an immersive full screen experience with help from a web app manifest file and can even re-engage users with web push notifications.
    </p>

    <p>
      The Web App Manifest allows you to control how your app appears and how it's launched.
      You can specify home screen icons, the page to load when the app is launched, screen orientation,
      and even whether or not to show the browser chrome.
    </p>

    <h2>Why build a Progressive Web App?</h2>

    <p>
      Building a high-quality Progressive Web App has incredible benefits, making it easy to delight your users, grow engagement and increase conversions.
    </p>

    <ul>
      <li>
        <b>Worthy of being on the home screen</b>: When the Progressive Web App criteria are met,
        Chrome prompts users to add the Progressive Web App to their home screen.
      </li>

      <li>
        <b>Work reliably, no matter the network conditions</b>: Service workers enabled Konga to send 63% less data for initial page loads,
        and 84% less data to complete the first transaction!
      </li>

      <li>
        <b>Increased engagement</b>: Web push notifications helped eXtra Electronics increase engagement by 4X.
        And those users spend twice as much time on the site.
      </li>

      <li>
        <b>Improved conversions</b>: The ability to deliver an amazing user experience helped AliExpress
        improve conversions for new users across all browsers by 104% and on iOS by 82%.
      </li>
    </ul>

    <h3>Lighthouse</h3>

    <p>
      Lighthouse, an open-source, automated tool for improving the quality of your Progressive Web Apps,
      eliminates much of the manual testing that was previously required. You can even use Lighthouse
      in continuous integration systems to catch regressions.
    </p>
  </div>
</article>
